.container
{
    margin: auto;
    text-align: center;
    font-size: 45px;
    width: 60%;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;

}

.combine{

    width: 42%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}


.dice
{
    height: 200px;
    width:  200px;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;

}
.img1
{
    height: 100px;
}
.img2{
    height: 100px;
}

.Added1{

    margin: auto;
    text-align: center;
    margin: 10px 10px 10px 10px;
    width: 80px;
    height: 35px;
    border: 0px;
    background-color: #8a270e;
    color: white;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 20px;
    
    font-weight: bold;
    /* for 3-d effect I have put first right and bottom shadow , left and top shadow with spread and color outset for uplift and inset for feel like depth */
    box-shadow: 2px 2px 1px brown ;
    cursor: pointer;
    outline: 0;
    
    transition: transform 1s;
}
.Added1:hover{
    background-color: brown;
    
}
.Added1:active{
    transform: scale(1.10,1.10);
}